.song-detail-header{
  height: 300px;
  background-color: yellow;
}
.song-detail-tool{
  height: 100px;
  background-color: #bbff30;
}
.song-detail-content{
  height: 800px;
  background-color: #b1ff90;
}
