<div class="container">
  <div class="col-md-2"></div>
  <div class="col">
    <div class="header-song">
      <div class="col-md-1"></div>
      <div class="row">
        <div class="col-sm-2">
          <div class="ih-item circle effect2 left_to_right">
            <a routerLink="#">
              <div class="img"><img src="{{song.avatarUrl}}" alt="{{song.nameSong}}"></div>
              <div class="info"><h3>Play Music</h3>
                <p>Enjoy song</p></div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="color-letter">{{song.nameSong}}</h3>
          <p class="color-letter">Ca sĩ: <a class="not-underlined">{{song.singer}}</a></p>
          <p class="color-letter">Thể loại: <a class="not-underlined">{{song.category}}</a></p>
        </div>
        <div class="col-xl-8"></div>
        <div class="col-xl-2" style="color: white">
          <i class="fas fa-play"> 1,000,000</i>
        </div>
        <div class="col-xl-2" style="color: white"><i class="fas fa-heart"> 567,984</i></div>
      </div>
    </div>
    <div></div>
  </div>
  <div class="col-md-2"></div>
</div>


