<div class="card col-md-4 offset-4">
  <div class="card-body">
    <div id="loginbox" class="mainbox">
      <div class="panel panel-info">

        <div class="panel-heading">
          <div class="panel-title offset-4"><h2>Register</h2></div>
          <hr>
          <div style="float:right; font-size: 80%; position: relative; top:-10px">
            <a routerLink="/auth/login">You haved accout. Login Now</a></div>
        </div> <!--Header-->

        <div class="panel-body" style="padding-top:30px">
          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
          <form class="form-inline" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <div *ngIf="isRegister; else signupForm">
              <p class="message-signup" style="color: limegreen">Your registration is successful. Please login!</p>
            </div>

            <ng-template #signupForm>
                <form name="form" (ngSubmit)="f.form.valid && RegisterAccount()" #f="ngForm" novalidate>
                  <div style="margin-bottom: 25px" class="form-group">

                    <input type="text" class="form-control"
                           name="firstName" placeholder="First Name"
                           [(ngModel)]="form.firstName"
                           #firstName="ngModel" required/>
                    <div *ngIf="f.submitted && firstName.invalid">
                      <div *ngIf="firstName.errors.required">First Name is required</div>
                    </div>
                  </div>

                  <div style="margin-bottom: 25px" class="form-group">

                    <input type="text" class="form-control"
                           name="lastName" placeholder="Last Name"
                           [(ngModel)]="form.lastName" #lastName="ngModel" required/>
                    <div *ngIf="f.submitted && lastName.invalid">
                      <div *ngIf="lastName.errors.required">Last Name is required</div>
                    </div>
                  </div>

                  <div style="margin-bottom: 25px" class="form-group">
                    <input type="text" class="form-control"
                           name="username" placeholder="User Name"
                           [(ngModel)]="form.username" #username="ngModel" required/>
                    <div *ngIf="f.submitted && username.invalid">
                      <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                  </div>

                  <div style="margin-bottom: 25px" class="form-group">
                    <input type="text" class="form-control"
                           name="email" placeholder="Email"
                           [(ngModel)]="form.email" #email="ngModel" required email/>
                    <div *ngIf="f.submitted && email.invalid">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>

                  <div style="margin-bottom: 25px" class="form-group">
                    <input type="password" class="form-control"
                           name="password" placeholder="Password"
                           [(ngModel)]="form.password" #password="ngModel"
                           required minlength="6"/>
                    <div *ngIf="f.submitted && password.invalid">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>


                  <div style="margin-bottom: 25px" class="form-group">
                    <input type="file" (change)="selecAvatar($event)" placeholder="Choose Avatar">
                    <button type="button" class="btn btn-success" (click)="upload()">Save</button>
                  </div> <!--Choose Avatar-->


                  <div class="form-group">
                    <button class="btn btn-info btn-block my-4" type="submit">Register</button>
                  </div>
                </form>
            </ng-template>

          </form>
        </div> <!--Body-->
      </div>

    </div>
  </div>
</div>
