<div class="card">
  <div class="card-body">
    <form [formGroup]="songForm" (ngSubmit)="createSong()"  class="col-md-6">
    <div class="form-group">
      <label>Name Song</label>
      <input type="text" class="form-control" formControlName="nameSong" placeholder="Enter name song">
      <small id="songhelp" class="form-text text-muted">You are not allowed to leave the song name blank.</small>
    </div>
    <div class="form-group">
      <label>Singer</label>
      <input type="text" class="form-control" formControlName="singer" placeholder="Enter singer">
    </div>
    <div class="form-group">
      <label>Category</label>
      <input type="text" class="form-control" formControlName="category" placeholder="Enter category">
    </div>
    <div class="form-group">
      <label>Lyrics</label>
      <textarea class="form-control" formControlName="lyrics" rows="3"></textarea>
    </div>
    <h6>Song avatar</h6>
    <div class="custom-file">
      <input type="file" class="custom-file-input" (change)="selectAvatar($event)">
      <label class="custom-file-label">Choose song image ...</label>
    </div>
    <br>
    <h6>Song mp3</h6>
    <div class="custom-file">
      <input type="file" class="custom-file-input" (change)="selectFile($event)">
      <label class="custom-file-label">Choose file mp3 ...</label>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
