<div class="container">
  <div class="row">
    <div class="col">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="/auth/personal"><i class="fas fa-plus-square"> Create New Song</i></a>
        <a class="list-group-item list-group-item-action" routerLink="/song/my-playlist"><i class="fas fa-bars"> My Playlist</i></a>
      </div>
    </div>
    <div class="col-9">
      <app-create-song></app-create-song>
    </div>
  </div>
</div>
