<div class="container">
  <div class="login offset-4">
    <div id="loginbox" style="margin-top:50px; border: 1px solid #0c3a8b;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title"><h2>Sign In</h2></div>
          <div style="float:right; font-size: 80%; position: relative; top:-10px">
            <a href="#">Forgot password?</a></div>
        </div> <!--Header-->
        <div class="panel-body" style="padding-top:30px" >
          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div style="margin-bottom: 25px" class="form-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" name="username"
                     [(ngModel)]="form.username" #username="ngModel" required
                     value="" placeholder="username">
              <div *ngIf="f.submitted && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
              </div>
            </div> <!--UserName-->

            <div style="margin-bottom: 25px" class="form-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control"
                     name="password"
                     [(ngModel)]="form.password" #password="ngModel" required minlength="6"
                     placeholder="password">
              <div *ngIf="f.submitted && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div> <!--PassWord-->

            <div class="form-group">
              <div class="checkbox"><label><input id="login-remember" type="checkbox" name="remember" value="1"> Remember me</label></div>
            </div> <!--Checkbox-->

            <div style="margin-top:10px" class="form-group">
              <div class="col-sm-12 offset-2 controls">
                <button type="submit" class="btn btn-success"
                        style="margin-right: 10px">Login</button>
                <button type="submit" class="btn btn-success">Facebook</button>
              </div>
            </div> <!--Login Button-->


            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >Don't have an account!
                  <a routerLink="auth/register">Register Here</a>
                </div>
              </div>
            </div>
          </form>
        </div> <!--Body-->
      </div>

    </div>
  </div>
</div>


