<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Note</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>First Name</td>
      <td>{{userInfor.firstName}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Last Name</td>
      <td>{{userInfor.lastName}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Email</td>
      <td>{{userInfor.email}}</td>
    </tr>

    </tbody>
  </table>
</div>
