<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Note</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>UserName</td>
      <td>{{data.username}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Password</td>
      <td>{{data.password}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>First Name</td>
      <td>{{data.firstName}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Last Name</td>
      <td>{{data.lastName}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Email</td>
      <td>{{data.email}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Role</td>
      <td>{{data.role}}</td>
    </tr>

    </tbody>
  </table>
</div>
