<div class="container">
  <div class="row">
    <div class="col">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" routerLink="/auth/personal"><i class="fas fa-plus-square">
          Create New Song</i></a>
        <a class="list-group-item list-group-item-action" routerLink="/playlist/create"><i class="fas fa-plus-square">
          Create new playlist</i></a>
        <a class="list-group-item list-group-item-action" routerLink="/song/my-playlist"><i class="fas fa-bars"> My
          Playlist</i></a>
      </div>
    </div>
    <div class="col-9">
      <h1>Create Playlist</h1>
      <!-- Default input -->
      <label for="exampleForm2">Enter the name list</label>
      <input type="text" id="exampleForm2" class="form-control">
      <br>
      <button type="button" class="btn btn-primary">Create</button>
      <hr>
      <app-list-playlist></app-list-playlist>
    </div>
  </div>
</div>
