<div class="container">
    <h3 style="font-family: '#9Slide01 Noi dung ngan'">LIST SONG</h3>
    <div class="list-song" style="padding-bottom: 10px ">
      <div class="row list-song-detail">

          <div class="list-song-detail-infor col-sm-3" *ngFor="let song of songInfor">

            <div class="row list-song-detail-infor-avatar">
              <img src="{{song.avatarUrl}}" alt="{{song.nameSong}}" style="width: 300px">
            </div>

            <div class="row list-song-detail-infor-mp3" *ngFor="let file of fileMp3Uploads">
              <audio controls>
                <source src="{{song.mp3Url}}" type="audio/mpeg">
              </audio>
            </div>

         </div>

      </div>
    </div>

</div>
